## 1

#### Import the website_analysis CSV file using pandas. Check for duplicates. If any, drop the duplicates

In [1]:
import pandas as pd

df = pd.read_csv("soccer_strikers.csv")
df.head()

,Player Name,Chances Created,Assists,Goals,Club,Manager,Annual Salary
0,Cristiano Ronaldo,85,20,35,Manchester United,Ole Gunnar Solskjær,"$35,000,000"
1,Lionel Messi,90,25,30,Paris Saint-Germain,Mauricio Pochettino,"$40,000,000"
2,Robert Lewandowski,70,15,40,Bayern Munich,Julian Nagelsmann,"$25,000,000"
3,Erling Haaland,60,10,35,Borussia Dortmund,Marco Rose,"$20,000,000"
4,Kylian Mbappé,80,18,25,Paris Saint-Germain,Mauricio Pochettino,"$30,000,000"

In [2]:
# Checking for duplicates
df.duplicated().sum()

0

In [3]:
# Check for missing values
df.isna().sum()

Player Name        0
Chances Created    0
Assists            0
Goals              0
Club               0
Manager            0
Annual Salary      0
dtype: int64

In [4]:
# Check for dtypes
df.dtypes

Player Name        object
Chances Created     int64
Assists             int64
Goals               int64
Club               object
Manager            object
Annual Salary      object
dtype: object

In [5]:
# Checking for missing values
df.isnull().sum()

Player Name        0
Chances Created    0
Assists            0
Goals              0
Club               0
Manager            0
Annual Salary      0
dtype: int64

## 2
#### Create a copy of the DataFrame. Using pandas, convert the 'Annual Salary' and 'conversion_rate' columns from object data type to integer data type .

In [6]:
# Creating a copy of the DataFrame
df2 = df.copy()

# Creating a function to clean the data
def clean_df(df):
    df["Annual Salary"] = df["Annual Salary"].str.replace("$", "")
    df["Annual Salary"] = df["Annual Salary"].str.replace(",", "").astype(int)
    return df

clean_df(df2)

df2.head()

,Player Name,Chances Created,Assists,Goals,Club,Manager,Annual Salary
0,Cristiano Ronaldo,85,20,35,Manchester United,Ole Gunnar Solskjær,35000000
1,Lionel Messi,90,25,30,Paris Saint-Germain,Mauricio Pochettino,40000000
2,Robert Lewandowski,70,15,40,Bayern Munich,Julian Nagelsmann,25000000
3,Erling Haaland,60,10,35,Borussia Dortmund,Marco Rose,20000000
4,Kylian Mbappé,80,18,25,Paris Saint-Germain,Mauricio Pochettino,30000000

## 3.
#### Which player has the highest goal conversion rate(goals scored as a percentage of chances created.)

In [7]:
# Adding a chance conversion rate column
df["Chance Conversion Rate"] = df["Goals"]/ df["Chances Created"] *100

# Sorting Dataframe by chance conversion rate
sorted_df = df.sort_values(by="Chance Conversion Rate", ascending=False)

# Get the player with highest conversation rate
player_name = sorted_df.loc[:,"Player Name"].head(1)
# Get the conversion rate
conversion_rate =  sorted_df.loc[:,"Chance Conversion Rate"].head(1)

print(f'Player with highest chance conversation rate is {player_name.iloc[0]}'
     f' with a rate of {conversion_rate.iloc[0]:.2f}%')

Player with highest chance conversation rate is Erling Haaland with a rate of 58.33%

## 4.	

#### Create a hierarchical index for your DataFrame. Set the "Player Name" and the "Club" as index columns. Using the .loc attribute, filter the DataFrame to find the annual salary of Romelu Lukaku.

In [8]:
# Setting website and month columns as hierarchical index
df2.set_index(['Player Name', 'Club'], inplace=True)
df2

,,Chances Created,Assists,Goals,Manager,Annual Salary
Player Name,Club,,,,,
Cristiano Ronaldo,Manchester United,85,20,35,Ole Gunnar Solskjær,35000000
Lionel Messi,Paris Saint-Germain,90,25,30,Mauricio Pochettino,40000000
Robert Lewandowski,Bayern Munich,70,15,40,Julian Nagelsmann,25000000
Erling Haaland,Borussia Dortmund,60,10,35,Marco Rose,20000000
Kylian Mbappé,Paris Saint-Germain,80,18,25,Mauricio Pochettino,30000000
Karim Benzema,Real Madrid,75,15,20,Carlo Ancelotti,28000000
Harry Kane,Tottenham Hotspur,65,20,30,Nuno Espírito Santo,32000000
Romelu Lukaku,Chelsea,70,15,28,Thomas Tuchel,27000000
Mohamed Salah,Liverpool,80,22,25,Jürgen Klopp,30000000
Antoine Griezmann,Barcelona,55,12,18,Ronald Koeman,24000000

In [9]:
lukaku_salary = df2.loc[('Romelu Lukaku', 'Chelsea'), 'Annual Salary']
print(" The Annual salary for Lukaku is:",lukaku_salary)

 The Annual salary for Lukaku is: 27000000

## 5.	
#### Using the pandas unstack() method, unstack the DataFrame with a hierarchical index (from question 4). The unstacked level should be the two columns: website and month. website is the outer index. Save this to a variable.

In [10]:
# Unstacking the DataFrame on website and month
df3 = df2.unstack(level=['Player Name', 'Club'])
df3.head()

                 Player Name         Club
Chances Created  Cristiano Ronaldo   Manchester United      85
                 Lionel Messi        Paris Saint-Germain    90
                 Robert Lewandowski  Bayern Munich          70
                 Erling Haaland      Borussia Dortmund      60
                 Kylian Mbappé       Paris Saint-Germain    80
dtype: object

## 6 

#### How many chances were created by Karim Benzema? Use the unstack DataFrame from question5.

In [11]:
# Sorting the index
df3.sort_index(inplace=True)

# Using multindex to access the value
df3.loc[("Chances Created", "Karim Benzema")][0]

75

## 7.

#### What is the combined salary of  Lionel Messi and Kylian Mbappé

In [12]:
# Messi Annual Salary
messi_salary = df3.loc[("Annual Salary", "Lionel Messi")][0]

# Mbappe Annual salary
mbappe_salary = df3.loc[("Annual Salary", "Kylian Mbappé")][0]

combined_salary = messi_salary + mbappe_salary
print(f"The combined total of Messi and Mbappe salary is {combined_salary}")

The combined total of Messi and Mbappe salary is 70000000