## 1. 

#### Create a DataFrame from the list above with three columns [A, B, C].

In [1]:
import pandas as pd


list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# Creating a DataFrame from lists
df = pd.DataFrame(lst, columns=["A", "B", "C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

## 2.	

#### Using the pandas "at" command access the number 9 from your DataFrame.

In [2]:
df.at[2, "C"]

9

## 3. 

#### Write another code using "at" command to change the number 9 to 10.

In [3]:
# Modifying the DataFrame
df.at[2, "C"] = 10
df

   A  B   C
0  1  2   3
1  4  5   6
2  7  8  10

## 4. 

#### Create a DataFrame using the below:

#### Using the loc[] method, access the age of John from the DataFrame.

In [4]:
names = ["John", "Mary", "Peter"]
age  = [27, 34, 47]
sex = [ "male", "female", "female"]

# Creating a DataFrame from lists
df = pd.DataFrame({"name": names, "age": age, "sex": sex})

# Locating John's age using loc
john_age = df.loc[df["name"] == "John", "age"]

print(f"John's age is: {john_age[0]}")

John's age is: 27

## 5. 

#### Using the loc[] change the sex of Peter from "female" to "male".

In [5]:
# Changing Peter's gender using loc
df.loc[df["name"] == "Peter", "sex"] = "male"
df

    name  age     sex
0   John   27    male
1   Mary   34  female
2  Peter   47    male

## 6.	

#### Write code to return a subset DataFrame of only males from the DataFrame you created in question 5. Write a code to return the name and age of the oldest male.

In [6]:
# using query method to filter the DataFrame
male = "male"
males = df.query('sex == @male')
males

    name  age   sex
0   John   27  male
2  Peter   47  male

In [7]:
# Sorting the DataFrame and returning the oldest male
oldest = males.sort_values('age', axis=0, ascending=False).max()

print(f'The oldest person is {oldest["name"]} and he is {oldest.age} yrs old.')

The oldest person is Peter and he is 47 yrs old.