## 1
#### Import the sports data set and write a code to check that check the first five rows to confirm that it has loaded properly. Now, using the pandas iteritems() method return all the names of the columns that values of "object" data type.

â€‹

In [1]:
import pandas as pd

df = pd.read_csv("sports_data.csv")
df.head()

,Name,Sport,Goals,Assists,Fouls,Minutes Played,Yellow,Red Cards,Team
0,Alex,Basketball,4,5,8,36,1,0,A
1,Bob,Soccer,0,2,1,31,0,0,B
2,Charlie,Basketball,2,2,6,34,1,0,A
3,David,Soccer,1,7,6,9,0,0,B
4,Eve,Basketball,8,2,6,29,0,0,A

In [2]:
columns_names = []

# Looping over the DataFrame
for (columns, values) in df.items():
    if values.dtypes == 'object':
        columns_names.append(columns)
                        
print(columns_names)

['Name', 'Sport', 'Team']

## 2. 

#### Using a pandas method check the memory size of the DataFrame using the info() method and the df.memory_usage() method.

In [3]:
df.memory_usage(deep =True)

Index              128
Name              1235
Sport             1300
Goals              160
Assists            160
Fouls              160
Minutes Played     160
Yellow             160
Red Cards          160
Team              1160
dtype: int64

In [4]:
df.memory_usage(deep = True).sum()/1024

4.6708984375

## 3. 

#### Using pandas convert all the columns with "object" data type to "categorical" data type. Create a new variable for the DataFrame after conversation. Check the memory size of the resulting DataFrame using info() and df.memory_usage() methods. Compare your results to the results in question 2. What conclusion can you draw?

In [5]:
# Changing the data type from object to category
df2 = df.astype({"Name": "category", "Sport": 
                 "category","Team": "category" })
df2.dtypes

Name              category
Sport             category
Goals                int64
Assists              int64
Fouls                int64
Minutes Played       int64
Yellow               int64
Red Cards            int64
Team              category
dtype: object

In [6]:
df2.memory_usage(deep = True)

Index              128
Name              1811
Sport              258
Goals              160
Assists            160
Fouls              160
Minutes Played     160
Yellow             160
Red Cards          160
Team               244
dtype: int64

In [7]:
df2.memory_usage(deep = True).sum()/1024

3.3212890625

## 4. 

#### Using pandas method, rename the "Yellow" column to "Yellow Cards".

In [8]:
# Renaming the column from 'Yellow' to 'Yellow Cards'
df2 = df2.rename(columns={'Yellow':'Yellow Cards'})
df2.head()

,Name,Sport,Goals,Assists,Fouls,Minutes Played,Yellow Cards,Red Cards,Team
0,Alex,Basketball,4,5,8,36,1,0,A
1,Bob,Soccer,0,2,1,31,0,0,B
2,Charlie,Basketball,2,2,6,34,1,0,A
3,David,Soccer,1,7,6,9,0,0,B
4,Eve,Basketball,8,2,6,29,0,0,A

## 5. 

#### Using the pandas query() method, create a subset DataFrame of only players that got made over 6 fouls.

In [9]:
# Using query to filter data by fouls
df3 = df2.query("Fouls > 6").reset_index(drop=True)
df3

,Name,Sport,Goals,Assists,Fouls,Minutes Played,Yellow Cards,Red Cards,Team
0,Alex,Basketball,4,5,8,36,1,0,A
1,George,Basketball,5,8,8,3,1,0,A
2,Harry,Soccer,9,6,8,13,1,0,B
3,Ivan,Basketball,7,9,8,30,1,0,A
4,Katie,Basketball,7,8,9,6,0,0,A
5,Nate,Soccer,0,0,7,44,1,0,B
6,Olivia,Basketball,3,0,8,5,1,0,A

## 6. 

#### Save the new DataFrame as a CSV file. Give it a name of your choice.

In [10]:
df3.to_csv("sports_data_modified.csv", index=False)